/* ========== ОБЩИЙ КОНТЕЙНЕР ======================================== */

.auth-page {
  min-height: 100vh;
  padding: 32px 20px;
  background: #ffffff;
  font-family: "TT Firs Neue", sans-serif;
}

/* Заголовок */
.auth-title {
  font-family: "TT Firs Neue", sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 24px;
}

/* ==================== ПОЛЯ ВВОДА ========================================= */

.auth-form input,
.auth-form select {
  width: 90%;
  background: #f5f5f7;
  border: none;
  padding: 14px 16px;
  font-size: 16px;
  border-radius: 14px;
  margin-bottom: 14px;

  font-family: "TT Firs Neue", sans-serif;
  color: #404040;

  outline: none;
  box-shadow: inset 0 0 0 1px transparent;
  transition: 0.2s;
}

.auth-form input:focus,
.auth-form select:focus {
  box-shadow: inset 0 0 0 1.5px #FF9F69;
  background: #ffffff;
}

/* Плейсхолдер */
.auth-form input::placeholder {
  color: #b8bcc5;
}

/*===============КНОПКА========================================= */

.auth-btn {
  width: 100%;
  margin-top: 10px;

  background: #404040;
  color: #ffffff;
  border: none;

  padding: 16px;
  border-radius: 40px;

  font-size: 17px;
  font-weight: 600;
  font-family: "TT Firs Neue", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  cursor: pointer;
  transition: 0.2s ease;
}

.auth-btn:active {
  transform: scale(0.97);
}

.auth-btn:hover {
  background: #000000;
}



/* ===ОШИБКА========================================= */

.auth-error {
  color: #FF9F69;
  margin-top: 10px;
  font-size: 14px;
}

/* Доп. элементы========================================= */

.auth-link {
  margin-top: 18px;
  text-align: center;
  font-size: 15px;
  color: #6b7280;
}

.auth-link span {
  color: #FF9F69;
  font-weight: 600;
  cursor: pointer;
}

/* ======= ЭКРАН ВЫБОРА АВТОРИЗАЦИИ ================ */

.auth-start-buttons {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 20px;
}

/* Светлая кнопка */
.auth-btn-light {
  background: #e5e5e7;
  color: #1f1f1f;
}

.auth-btn-light:hover {
  background: #dcdcdc;
}

