@font-face {
    font-family: 'TT Firs Neue Trl';
    src: url('/fonts/TTFirsNeue/TTFirsNeueTrl-Bold.woff2') format('woff2'),
         url('/fonts/TTFirsNeue/TTFirsNeueTrl-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue Trl';
    src: url('/fonts/TTFirsNeue/TTFirsNeueTrl-DemiBold.woff2') format('woff2'),
         url('/fonts/TTFirsNeue/TTFirsNeueTrl-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue Trl';
    src: url('/fonts/TTFirsNeue/TTFirsNeueTrl-Light.woff2') format('woff2'),
         url('/fonts/TTFirsNeue/TTFirsNeueTrl-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue Trl';
    src: url('/fonts/TTFirsNeue/TTFirsNeueTrl-Medium.woff2') format('woff2'),
         url('/fonts/TTFirsNeue/TTFirsNeueTrl-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue Trl';
    src: url('/fonts/TTFirsNeue/TTFirsNeueTrl-Regular.woff2') format('woff2'),
         url('/fonts/TTFirsNeue/TTFirsNeueTrl-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
