.settings-page {
  padding: 16px;
  font-family: 'TT Firs Neue Trl', sans-serif;
  margin-bottom: 60px;
}

/* ---------------- HEADER ---------------- */
.settings-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings-header h2 {
  font-size: 24px;
  font-weight: 600;
}

.back-btn,
.edit-btn {
  background: none;
  border: none;
  padding: 6px;
  border-radius: 50%;
}

.back-btn img,
.edit-btn img {
  width: 56px;
  height: 56px;
}

/* ---------------- AVATAR ---------------- */
.avatar-block {
  text-align: center;
  margin-top: 12px;
}

.avatar-main {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 6px;
}

.avatar-label {
  font-size: 15px;
  font-weight: 500;
  color: #3a3a3c;
  margin-top: 4px;
}

/* ---------------- SLIDER ---------------- */
.avatar-slider {
  display: flex;
  justify-content: center;   /* выравнивание по центру ✔ */
  gap: 12px;
  padding: 6px 0;
  overflow-x: auto;
}

.avatar-block {
  text-align: center;
}


.avatar-slider::-webkit-scrollbar {
  display: none;
}

.avatar-option {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  opacity: 0.7;
  transition: 0.2s;
  cursor: pointer;
  border: 3px solid transparent; /* убирает голубое выделение */
}

.avatar-option.active {
  opacity: 1;
  transform: scale(1.08);
 
}

img {
  outline: none;
}
img:focus {
  outline: none;
}

/* ---------------- FORM ---------------- */
.form-block {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-block label {
  font-size: 14px;
  font-weight: 500;
  color: #3a3a3c;
}

.form-block input {
  width: 90%;
  padding: 12px 16px;
  background: #f3f3f5;
  border-radius: 14px;
  border: none;
  font-size: 15px;
  font-family: 'TT Firs Neue Trl', sans-serif;
}

.form-block input:disabled {
  opacity: 0.6;
}

/* PASSWORD FIELD */
.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  width: 90%;
  padding-right: 20px; /* место под иконку */
}

.password-toggle {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  cursor: pointer;
}


/* ---------------- SAVE BUTTON ---------------- */
.save-btn {
  width: 100%;
  margin-top: 24px;
  padding: 14px;
  background: #404040;
  color: white;
  font-size: 16px;
  border-radius: 16px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  margin-bottom: 80px;
  font-family: 'TT Firs Neue Trl', sans-serif;
}

