.section-header {
  margin: 4px 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-header h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  font-family: 'TT Firs Neue Trl';
  color: #000;
}

.highlight {
  color: #FF9F69;
}

.see-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-icon {
  width: 18px;
  height: 18px;
  opacity: 0.9;
}
